HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### Gradle ###
/.gradle/               # Gradle 캐시 폴더
!/gradle/wrapper/       # Gradle Wrapper 유지 (필요할 수 있으므로)
/gradle/wrapper/gradle-wrapper.properties # Wrapper 설정 파일 무시

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/                 # IntelliJ IDEA 설정 폴더
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
